.menu-overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: calc(42px - 0.0625em);
      font-weight: 300;
    }
  }

  .bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    span {
      font-size: calc(30px - .0625em);
      margin: 0 6px;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }

  .right-bar {
    position: absolute;
    right: 0;
    height: 100%;
    width: 130px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .activate-menu {
      display: block;
      text-orientation: upright;
      writing-mode: vertical-rl;
      text-decoration: none;
      padding: 25px;
      position: relative;
      color: #444444;

      .line.top {
        left: 1%;
        top: 1%;
        width: 0;
        height: 1px;
      }

      .line.right {
        right: 1%;
        top: 1%;
        width: 1px;
        height: 0;
      }

      .line.left {
        left: 1%;
        bottom: 1%;
        width: 1px;
        height: 0;
      }

      .line.bottom {
        right: 1%;
        bottom: 1%;
        width: 0;
        height: 1px;
      }

      .line {
        display: block;
        position: absolute;
        background: #787772;
        transition-duration: 0.45s;
        transition-property: top,right,bottom,left,width,height;
        transition-delay: 0s;
      }
    }

    .activate-menu:hover {
      .bottom,
      .top {
        width: 98%;
      }

      .left,
      .right {
        height:: 98%;
      }
    }
  }

  .left-bar {
    position: absolute;
    left: 0;
    height: 100%;
    width: 130px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      text-orientation: upright;
      writing-mode: vertical-rl;
      display: block;
      text-align: center;
      text-transform: uppercase;

      span {
        margin: 0.5em 0;
        font-size: 26px;
      }
    }
  }
}

.upDown {
  animation: MoveUpDown 0.8s ease-in-out infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}
@keyframes MoveUpDown {
  0% {
    bottom: 0;
  }

  50% {
    bottom: 10px;
  }

  100% {
    bottom: 0;
  }
}

.leftRight {
  animation: LeftRight 0.8s ease-in-out infinite;
  display: inline-block;
}
@keyframes LeftRight {
  0% {
    -webkit-transform: rotate(10deg);
  }

  25% {
    -webkit-transform: rotate(-10deg);
  }

  50% {
    -webkit-transform: rotate(20deg);
  }

  75% {
    -webkit-transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}
